# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/
.cache/

# Virtual environment
venv/
.env/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter (если вдруг есть)
.ipynb_checkpoints/

# mypy / typing cache
.mypy_cache/